/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* 
html, body {
	width: 100%;
	height: 100%;
} */

canvas {
	border: .5em black solid;
	image-rendering: pixelated;
	background-color: white;
	margin: 10px;
}

#downloadLink {
	text-decoration: none;
	color: white;
	margin: 0px 30px;
	/* Padding works for separation between content and things like borders */
	padding: .6em 1.2em;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: #1a1a1a;
}
#downloadLink:hover {
	border-color: #ffffff;
}
