canvas {
	border: .5em black solid;
	image-rendering: pixelated;
	background-color: white;
	margin: 10px;
}


div.canvas {
	display: flex;
	align-items: center;
}
div.sidebar {
	display: inline-flex;
	image-rendering: pixelated; /* This will be needed in the future when I add pixel art for the sidebar icons (brush for brush tool, eraser for eraser, etc.) */
	flex-direction: column;
	justify-content: space-evenly;
	height: 80vh;
	margin: 0em 2em;
}

div.tools {
	display: flex;
	flex-flow: column wrap;
	height: 80vh;
}

/* Set margins between tool images.
	Set image heights, so that they're not extremely small
*/
div.tools > img {
	margin: 1.5em 0em;
	width: 10vh;
	min-width: 64px;
}

/* Ensure buttons and links on sidebar aren't rendered in light mode to avoid black text on the dark backgrounds */
div.utility > button {
	color-scheme: dark;
}
div.utility > a {
	color-scheme: dark;
}

/* Class for links with the same appearance as buttons */
a.buttonLink {
	display: inline-block;
	text-decoration: none;
	color: light-dark(ButtonText, ButtonText);
	margin: 0px 30px;
	/* Padding works for separation between content and things like borders */
	padding: .6em 1.2em;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: ButtonFace;
}
a.buttonLink:hover {
	border-color: #ffffff;
}

/* CSS Styling related to canvas color picker */

.colorPickerMarker {
	position: absolute;
	pointer-events: none;
}