canvas {
	border: .5em black solid;
	image-rendering: pixelated;
	background-color: white;
	margin: 10px;
}

a.buttonLink {
	text-decoration: none;
	color: light-dark(black, white);
	margin: 0px 30px;
	/* Padding works for separation between content and things like borders */
	padding: .6em 1.2em;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: ButtonFace;
}
a.buttonLink:hover {
	border-color: #ffffff;
}
